<div class="container pad-top">
          <div class="row image-header">
            <div class="column center">
              <img src="./static/headshot.webp" class="headshot" alt="That's me!" />
              <h1>Sanjay Nair</h1>
              <h3>Software Engineer</h3>
            </div>
          </div>

          <div class="row">
            <div class="statement center">
              <p>
                I am a software engineering leader based in Atlanta, Georgia.
                I enjoy working with multi-disciplinary teams on value-driven projects.
                In my spare time I like to read, run, and write.
            </p>
            </div>
          </div>
          <div>
            {{ content | safe }}
          </div>