<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "My Website" }}</title>
  <link rel="stylesheet" href="/assets/css/tailwind-built.css">
</head>
<body class="container mx-auto p-6 font-sans bg-primary text-white">
  <header class="text-center mb-8">
    <img src="/assets/images/profile.png" alt="that's me!" class="w-24 h-24 rounded-full mx-auto mb-4">
    <h1 class="text-3xl font-bold mb-2">Sanjay Nair</h1>
    <p class="text-lg">Software Engineering Leader</p>
  </header>

  <nav class="text-center mb-12">
    <ul class="flex justify-center space-x-4">
      <li><a href="/" class="text-primary-blue hover:text-accent">Home</a></li>
      <li><a href="/blog/" class="text-primary-blue hover:text-accent">Blog</a></li>
      <li><a href="/about/" class="text-primary-blue hover:text-accent">About</a></li>
      <li><a href="/contact/" class="text-primary-blue hover:text-accent">Contact</a></li>
    </ul>
  </nav>

  <main>
    {{ content | safe }}
  </main>
</body>
</html>
