/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: theme('colors.gray.400');
    color: theme('colors.text');
}

a {
    color: theme('colors.link');
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Text selection highlight styles */
::selection {
    background-color: theme('colors.primary-blue');
    color: white;
}

::-moz-selection {
    background-color: theme('colors.primary-blue');
    color: white;
}