---
title: Home
layout: layouts/base.njk
---

<p class="flex text-center space-x-4">I am a software engineering leader based in Atlanta, Georgia. I enjoy working with
    full stack teams on value driven projects. In my spare time I enjoy reading, writing, and speaking about technology
    leadership.</p>