---
layout: base
title: Sanjay Nair
---
{% include "hero.njk" %}
<div>
  <div class="row">
    <div class="column center">
      <div>
        <h3><i class="fab fa-medium fa-fw icon-link"></i><a href="/blog">Blog Posts</a></h3>
      </div>
      <div>
        <h3><i class="fab fa-youtube fa-fw icon-link"></i><a
            href="https://www.youtube.com/playlist?list=PLEes72Fb4Ddh27N8XIbD7RQFaKwxPWCE3" target="_blank"
            rel="noopener noreferrer">Talks</a></h3>
      </div>
      <div>
        <h3><i class="fab fa-linkedin fa-fw icon-link"></i><a href="https://www.linkedin.com/in/sanjaynair8/"
            target="_blank" rel="noopener noreferrer">LinkedIn</a></h3>
      </div>
      <div>
        <h3><i class="fab fa-github-square fa-fw icon-link"></i><a href="https://github.com/Nirespire" target="_blank"
            rel="noopener noreferrer">Github</a></h3>
      </div>
      <div>
        <h3><i class="fas fa-book fa-fw icon-link"></i><a href="https://www.mendeley.com/authors/57192428597/"
            target="_blank" rel="noopener noreferrer">Publications</a></h3>
      </div>
      <div>
        <h3><i class="fas fa-envelope fa-fw icon-link"></i><a href="mailto:contact@sanjaynair.dev" target="_blank"
            rel="noopener noreferrer">Contact</a></h3>
      </div>
    </div>
  </div>
</div>